Package: com.spartacus.tweakio.tweakreviewsdb
Name: Tweakio TweakReviewsDB
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds TweakReviewsDB reviews to Tweakio
Depiction: https://spartacusdev.github.io/depictions/tweakio-tweakreviewsdb.html
SileoDepiction: https://spartacusdev.github.io/sileoDepictions/tweakio-tweakreviewsdb.json
Icon: https://spartacusdev.github.io/images/Tweakio.png
Maintainer: Spartacus
Author: Spartacus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.spartacus.tweakio (>= 0.1.0)
